#### To Do
1. scale the numerical columns(RobustScaler)
2. onehotcode the categorical columns(OneHotEncoder) 
3. use of column transformer(ColumnTransformer)

In [25]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,RobustScaler

In [3]:
df = pd.read_csv("C:/Users/user/Desktop/kaggle competetion/Churn_Modelling.csv")
df.shape

(10000, 14)

In [4]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
x_train,x_test,y_train,y_test = train_test_split(df.drop("Exited",axis =1),
                                                 df.Exited,test_size=0.2,random_state=0)

In [7]:
num_cols = [col for col in x_train.columns if x_train[col].dtypes!='O']
num_cols

['RowNumber',
 'CustomerId',
 'CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary']

In [8]:
cat_cols = [col for col in x_train.columns if x_train[col].dtypes == "O"]
cat_cols

['Surname', 'Geography', 'Gender']

## scaling numerical

In [9]:
r = RobustScaler()
r.fit(x_train[num_cols])

RobustScaler(copy=True, quantile_range=(25.0, 75.0), with_centering=True,
             with_scaling=True)

In [10]:
x_train_num_scaled = r.transform(x_train[num_cols])

In [11]:
x_test_num_scaled = r.transform(x_test[num_cols])

## onehotencoding

In [12]:
ohe = OneHotEncoder(handle_unknown="ignore",sparse = False)
ohe.fit(x_train[cat_cols])

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=False)

In [13]:
x_train_cat_encoded = ohe.transform(x_train[cat_cols])
pd.DataFrame(x_train_cat_encoded)

,0,1,2,3,4,5,6,7,8,9,...,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [14]:
x_test_cat_encoded = ohe.transform(x_test[cat_cols])

In [15]:
pd.DataFrame(np.concatenate((x_train_num_scaled,x_train_cat_encoded),axis =1))

,0,1,2,3,4,5,6,7,8,9,...,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612
0,0.478833,-0.120054,0.111111,-0.250000,0.0,-0.759523,1.0,0.0,-1.0,0.645778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.854567,0.462513,-1.666667,0.416667,-0.8,-0.166132,0.0,0.0,0.0,-0.439480,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,-0.396553,-0.880243,-0.866667,-0.666667,-0.6,0.121507,0.0,0.0,-1.0,0.867442,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.065843,0.713080,0.014815,0.250000,0.0,0.069103,0.0,0.0,-1.0,0.745287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,-0.922303,-0.644603,1.466667,1.666667,0.6,0.234483,1.0,0.0,0.0,0.325159,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.844606,-0.860630,-0.429630,-0.416667,-0.2,0.181940,1.0,0.0,0.0,0.636944,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7996,-0.025202,-0.359970,1.051852,-1.250000,-0.2,0.137760,0.0,0.0,0.0,0.075581,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7997,-0.342962,-0.945621,0.637037,-0.166667,0.0,0.504967,1.0,0.0,-1.0,0.824727,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
7998,0.968124,-0.223708,-0.459259,0.083333,0.8,-0.759523,1.0,0.0,0.0,0.492440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7999,-0.448949,-0.797121,-0.214815,0.916667,-0.8,0.087863,0.0,0.0,-1.0,0.188468,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

## column transformer

In [16]:
# ColumnTransformer epects a list of tuples

In [17]:
ct = ColumnTransformer([
    ("step1",RobustScaler(),num_cols),
    ("step2",OneHotEncoder(sparse=False,handle_unknown="ignore"),cat_cols),
],remainder = "drop")

In [18]:
ct.fit(x_train)

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('step1',
                                 RobustScaler(copy=True,
                                              quantile_range=(25.0, 75.0),
                                              with_centering=True,
                                              with_scaling=True),
                                 ['RowNumber', 'CustomerId', 'CreditScore',
                                  'Age', 'Tenure', 'Balance', 'NumOfProducts',
                                  'HasCrCard', 'IsActiveMember',
                                  'EstimatedSalary']),
                                ('step2',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='ignore',
                                               sparse=False),
                                 ['Surname', 'Geography', 'Gender'])],
                  verbose=False)

In [19]:
ct.transform(x_train)

array([[ 0.47883255, -0.12005443,  0.11111111, ...,  1.        ,
         1.        ,  0.        ],
       [ 0.85456719,  0.46251268, -1.66666667, ...,  0.        ,
         0.        ,  1.        ],
       [-0.39655344, -0.88024347, -0.86666667, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.34296245, -0.94562084,  0.63703704, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.96812432, -0.22370815, -0.45925926, ...,  1.        ,
         1.        ,  0.        ],
       [-0.4489491 , -0.79712082, -0.21481481, ...,  0.        ,
         1.        ,  0.        ]])

In [20]:
ct.transform(x_test)

array([[ 0.87827473, -0.61244585, -0.40740741, ...,  0.        ,
         1.        ,  0.        ],
       [-0.81432414, -0.29886797, -0.95555556, ...,  0.        ,
         1.        ,  0.        ],
       [-0.51548959, -0.46652228,  0.4       , ...,  1.        ,
         1.        ,  0.        ],
       ...,
       [ 0.9091543 ,  0.65042431, -0.54814815, ...,  1.        ,
         0.        ,  1.        ],
       [-0.44735531,  0.77196019, -0.01481481, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.33957565, -0.9065635 , -0.58518519, ...,  0.        ,
         0.        ,  1.        ]])

In [21]:
pd.DataFrame(ct.transform(x_train))
#the column names are dropped now lets get the column names

,0,1,2,3,4,5,6,7,8,9,...,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612
0,0.478833,-0.120054,0.111111,-0.250000,0.0,-0.759523,1.0,0.0,-1.0,0.645778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.854567,0.462513,-1.666667,0.416667,-0.8,-0.166132,0.0,0.0,0.0,-0.439480,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,-0.396553,-0.880243,-0.866667,-0.666667,-0.6,0.121507,0.0,0.0,-1.0,0.867442,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.065843,0.713080,0.014815,0.250000,0.0,0.069103,0.0,0.0,-1.0,0.745287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,-0.922303,-0.644603,1.466667,1.666667,0.6,0.234483,1.0,0.0,0.0,0.325159,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.844606,-0.860630,-0.429630,-0.416667,-0.2,0.181940,1.0,0.0,0.0,0.636944,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7996,-0.025202,-0.359970,1.051852,-1.250000,-0.2,0.137760,0.0,0.0,0.0,0.075581,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7997,-0.342962,-0.945621,0.637037,-0.166667,0.0,0.504967,1.0,0.0,-1.0,0.824727,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
7998,0.968124,-0.223708,-0.459259,0.083333,0.8,-0.759523,1.0,0.0,0.0,0.492440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7999,-0.448949,-0.797121,-0.214815,0.916667,-0.8,0.087863,0.0,0.0,-1.0,0.188468,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [22]:
ct.transformers_

[('step1',
  RobustScaler(copy=True, quantile_range=(25.0, 75.0), with_centering=True,
               with_scaling=True),
  ['RowNumber',
   'CustomerId',
   'CreditScore',
   'Age',
   'Tenure',
   'Balance',
   'NumOfProducts',
   'HasCrCard',
   'IsActiveMember',
   'EstimatedSalary']),
 ('step2',
  OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
                handle_unknown='ignore', sparse=False),
  ['Surname', 'Geography', 'Gender'])]

In [23]:
ct.transformers_[1][1].get_feature_names()
#these are the column names given by sklearn for categorigal columns(step 2)

array(['x0_Abazu', 'x0_Abbott', 'x0_Abdullah', ..., 'x1_Spain',
       'x2_Female', 'x2_Male'], dtype=object)

In [24]:
"""ct.transformers[0][1].center_
ct.transformers[0][1].scale_"""

'ct.transformers[0][1].center_\nct.transformers[0][1].scale_'